#eventosApp h1 {
    margin: 20px;
}
#eventosApp div#app-content button#incluir-evento {
    margin: 0 0 20px 20px;
}

#eventosApp div#app-content table#listaEventos {
    width: 60%;
    margin-left: 20px;
}

#eventosApp div#app-content fieldset button {
    display: block;
}

#eventosApp div#app-content div.alert-error {
    margin: 0 20px 0 20px;
}