<fieldset class="form-actions">
    <label for="Nome">Nome</label>
    <input type="text" id="Nome" placeholder="Nome do evento" required />
    <label for="Data">Data</label>
    <input type="date" id="Data" placeholder="Data do evento" required />
    <label for="QuantidadeVagas">Quantidade de vagas</label>
    <input type="number" id="QuantidadeVagas" placeholder="Quantidade de vagas disponíveis" required />
    <button type="button" id="salvar" class="btn btn-primary btn-large">Salvar</button>
</fieldset>
<div class="alert alert-error invisible">
    <span>Ocorreu um problema ao salvar o evento.</span>
</div>
